@import "/src/styles.scss";

.subnav {
  // position: absolute;
  // z-index: -1;
  // top: 50%;
  // background-color: transparent;
  // background-color: $secondaryColor;
  max-width: max-content;
  flex-wrap: nowrap;
}
.admin-menu-item {
  padding: 0.2em 0.6em 0.2em 0.6em;
  // border: 1px solid lighten($color: $secondaryColor, $amount: 3);
  background-color: $primaryColor;
}
