<div class="subnav pt-3">
    <div class="flex justify-end">
        <ul class="admin-menu flex gap-2">
            <a routerLinkActive="active" routerLink="/cars/add">
                <li *ngIf="currentRoute === ''" class="admin-menu-item">Add a car</li>
            </a>
            <li (click)="editCar()" *ngIf="currentRoute === 'cars/:id'" class="admin-menu-item cursor-pointer">Edit</li>
            <li (click)="deleteCar()" *ngIf="currentRoute === 'cars/:id'" class="admin-menu-item cursor-pointer">Delete
            </li>
        </ul>
    </div>
</div>