<app-nav></app-nav>

<section class="container bleed-secondary mx-auto">
    <div class="single-car-wrapper p-10">
        <div class="single-car py-10 flex flex-col">
            <div class="car-header flex justify-between">
                <div *ngFor="let alert of alerts" class="flex rounded-lg p-4 mb-4 text-sm {{alert.type}} alert"
                    role="alert">
                    <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <div>

                        <span class="font-medium">{{alert.msg}}</span>
                    </div>
                </div>
                <div class="ml-10">
                    <p *ngIf="user.id === 0">You need to be signed in to buy a car. </p>
                    <!-- <p *ngIf="user.id !== 0">Your Budget: {{user.balance}}<span>$</span></p> -->
                </div>
                <div class="car-pricetag py-2 px-8">
                    <p *ngIf="!isEditing"><span>$ </span>{{car.data.attributes.price}}</p>
                    <span *ngIf="isEditing"> <input type="text" name="price" [formControl]="carPrice"></span>
                </div>
            </div>
            <div class="car-main-container p-10">
                <div class="car-main flex gap-10">
                    <div class="car-main-left basis-3/6">
                        <div class="editableInputGroup flex gap-2 mb-5">
                            <h2 *ngIf="!isEditing">{{car.data.attributes.brand}} {{car.data.attributes.model}}</h2>
                            <input *ngIf="isEditing" type="text" name="brand" [formControl]="carBrand">
                            <input *ngIf="isEditing" type="text" name="model" [formControl]="carModel">
                        </div>
                        <div class="editableInputGroup">
                            <p>Motor:
                                <span *ngIf="!isEditing">{{car.data.attributes.details.motor}}</span>
                                <span *ngIf="isEditing"><input type="text" name="motor" [formControl]="carMotor"></span>
                            </p>
                        </div>
                        <div class="editableInputGroup">
                            <p>Year:
                                <span *ngIf="!isEditing">{{car.data.attributes.year}}</span>
                                <span *ngIf="isEditing"><input type="text" name="year" [formControl]="carYear"></span>
                            </p>

                        </div>
                        <div class="editableInputGroup">
                            <p>Transmission:
                                <span *ngIf="!isEditing">{{car.data.attributes.details.gearbox}}</span>
                                <span *ngIf="isEditing"><input type="text" name="gearbox"
                                        [formControl]="carGear"></span>
                            </p>

                        </div>
                        <div class="editableInputGroup">
                            <p>Drive unit:
                                <span *ngIf="!isEditing">{{car.data.attributes.details.drivetrain}}</span>
                                <span *ngIf="isEditing"><input type="text" name="drivetrain"
                                        [formControl]="carDriveTrain"></span>
                            </p>

                        </div>
                    </div>
                    <div class="car-main-right basis-3/6">
                        <div class="editableInputGroup">
                        <img src="{{car.data.attributes.imageUrl}}" alt="">
                        <input *ngIf="isEditing" type="text" name="imageUrl"
                                        [formControl]="imageUrl">
                        </div>
                    </div>
                </div>
                <div class="car-footer">
                    <button (click)="buyCar(car)" *ngIf="user.id !== 0 && !isEditing && !own"
                        class="p-2 flex items-center gap-2">BUY NOW <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                        </svg>
                    </button>
                    <p *ngIf="own">You already own this car.</p>
                    <button (click)="updateCar(car.data.id)" *ngIf="user.id !== 0 && isEditing"
                        class="p-2 flex items-center gap-2">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>